{% extends 'base-template/base.html' %}

{% block title %}Gestió Puntuació Curs{% endblock %}

{% block content %}
<div class="container-fluid d-flex" style="min-height: 100vh;">
    <div class="col-lg-10 mx-auto">
        <h2 style="text-align:center">Gestió de la Puntuació dels Cursos </h2>

        <!-- Display success, warning, or error messages -->
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="{% if message.tags %}alert alert-{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <hr>

        <div class="row">
            <div class="col-lg-10">
              
                <!-- Filter Fields -->
                <h3>Filtres pel Llistat dels Cursos</h3>
                <div class="d-flex justify-content-between row mb-2">
                    <!-- Filters section -->
                    <div class="filters d-flex flex-wrap">
                        <div class="col-md-12">
                            <label for="filter-all">Filtrar per contingut</label>
                            <input type="text" id="filter-all" class="form-control" placeholder="Cerca per Curs, Semestre, Idioma o punts Totals">
                        </div>
                    </div>
                </div>
                <!-- Year Filter Form -->
                <form method="get" id="year-filter-form">
                    <label for="year-select">Selecciona l'Any:</label>
                    <select name="year" id="year-select" class="form-control" onchange="document.getElementById('year-filter-form').submit();">
                        {% for year in available_years %}
                            <!-- Use idYear as the value to send the ID, but display Year in the option text -->
                            <option value="{{ year.idYear }}" {% if year == selected_year %}selected{% endif %}>
                                {{ year.Year }}
                            </option>
                        {% endfor %}
                    </select>
                </form>

                <hr>

                <!-- List of all courses -->
                {% if selected_year %}
                    <h5 style="text-align:center; color:blue">
                            Puntuació dels Cursos de l'any 
                        {{ selected_year.Year }} 

                        {% if selected_year.Year != available_years.first.Year %}
                            (Historial)
                        {% endif %}
                    </h5>
                {% endif %}

                <h3>Llistat dels Cursos:</h3>

                <table class="table table-striped" id="coursesyear-table">
                    <thead>
                        <tr>
                            <th style=" width: 8%;">Curs</th>
                            <th style=" width: 8%;">Any</th>
                            <th style=" width: 7%;">Semestre</th>
                            <th style="width: 9%;">Idioma</th>
                            <th style="width: auto;">Punts A</th>
                            <th style="width: auto;">Punts B</th>
                            <th style="width: auto;">Punts C</th>
                            <th style="width: auto;">Punts D</th>
                            <th style="width: auto;">Punts E</th>
                            <th style="width: auto;">Punts F</th>
                            <th class="actions-c" style="width:7%">Punts Totals</th>
                            <th class="actions-c" style="width:180px">Accions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if course_years %}
                            {% for course_year  in course_years  %}
                            <tr data-name="{{ course_year.Course.NameCourse }}"
                            data-year="{{ course_year.Year.Year }}" 
                            data-semester="{{course_year.Semester}}"
                            data-language="{{ course_year.Language}}"
                            data-totalpoints="{{ course_year.TotalPoints }}"
                            >
                            <td><strong>{{ course_year.Course.NameCourse }} </strong></td>
                            <td><strong>{{ course_year.Year.Year }}</strong></td>
                            <td><strong>{{ course_year.Semester }}</stong></td>
                            <td>{{ course_year.Language}}</td>
                            <td>{{ course_year.PointsA|default:"-" }}</td>
                            <td>{{ course_year.PointsB|default:"-" }}</td>
                            <td>{{ course_year.PointsC|default:"-" }}</td>
                            <td>{{ course_year.PointsD|default:"-" }}</td>
                            <td>{{ course_year.PointsE|default:"-" }}</td>
                            <td>{{ course_year.PointsF|default:"-" }}</td>
                            <td><strong>{{ course_year.TotalPoints }}</strong></td>
                            <td class="actions-c" style="width:180px">
                                <!-- Edit button -->
                                <a href="{% url 'edit_courseyear' course_year.idCourseYear %}" class="button-edit btn-sm">Editar</a>

                                <!-- Delete form with JavaScript confirmation -->
                                <form method="post" action="{% url 'delete_courseyear' course_year.idCourseYear %}" style="display:inline;" onsubmit="return confirmDelete('{{ course_year.Course.NameCourse }}');">
                                    {% csrf_token %}
                                    <input type="hidden" name="confirm_delete" value="{{  course_year.idCourseYear }}">
                                    <button type="submit" class="button-delete btn-sm">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="11" class="text-center">Cap Curs amb Puntuació en l'any seleccionat.</td>
                            </tr>        
                        {% endif %}
                    </tbody>
                </table>
                
                <!-- No results message -->
                <div id="no-results-message" class="text-center text-danger" style="display:none;">
                    <span id="no-results-text"></span>
                </div>
            </div>

            <!-- Buttons section fixed on the right -->
            <div class="col-lg-2">
                <div class="sticky-top" style="top: 1rem">
                    <div class="buttons mb-2 d-flex flex-column ">
                        <a href="{% url 'create_courseyear' %}" class="button-secondary btn-sm mb-2" style="width: 100%;">Afegir Curs amb Puntuació Nova</a>
                    </div>
                    <div class="buttons mb-2 d-flex flex-column ">
                        <a href="{% url 'create_typepoints' %}" class="button-secondary btn-sm mb-2" style="width: 100%;">Duplicar contingut de l'Any</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<!-- JavaScript function for confirmation -->
<script>

    function confirmDelete(CourseNameYear) {
        return confirm("Estàs segur que vols eliminar aquesta puntuació del Curs: " + CourseNameYear + "?");
    }

    //Not using  accents in the filter and in the data
    function normalizeString(str) {
        return str.normalize("NFD").replace(/[\u0300-\u036f]/g, "").toLowerCase();
    }

    // JavaScript for dynamic filtering
    document.getElementById('filter-all').addEventListener('input', filterTable);

    function filterTable() {
        const searchValue = normalizeString(document.getElementById('filter-all').value);
        const tableRows = document.querySelectorAll('#coursesyear-table tbody tr');

        let rowsVisible = 0;

        tableRows.forEach(row => {
            const fieldName = row.getAttribute('data-name') ? normalizeString(row.getAttribute('data-name')) : '';
            const fieldYear = row.getAttribute('data-year') ? normalizeString(row.getAttribute('data-year')) : '';
            const fieldSemester = row.getAttribute('data-semester') ? normalizeString(row.getAttribute('data-semester')) : '';
            const fieldLanguage = row.getAttribute('data-language') ? normalizeString(row.getAttribute('data-language')) : '';
            const fieldTpoints = row.getAttribute('data-totalpoints') ? normalizeString(row.getAttribute('data-totalpoints')) : '';

            const matchesSearch = fieldName.includes(searchValue) || fieldYear.includes(searchValue) || fieldSemester.includes(searchValue) || fieldLanguage.includes(searchValue) || fieldTpoints.includes(searchValue) 
            if (matchesSearch) {
                row.style.display = '';
                rowsVisible++;
            } else {
                row.style.display = 'none';
            }
        });

        const noResultsMessage = document.getElementById('no-results-message');
        const noResultsText = document.getElementById('no-results-text');

        // No results message logic
        if (rowsVisible === 0) {
            let message = "Cap Curs amb Puntuació amb els criteris de cerca";
            if (searchValue) {
                message += ` amb el terme "${searchValue}"`;
            }
            noResultsText.textContent = message + ".";
            noResultsMessage.style.display = 'block';
        } else {
            noResultsMessage.style.display = 'none';
        }
    }
</script>

{% endblock %}
