
<!-- Manegement Professor Navbar -->
<nav class="navbar-sub-nav navbar-expand-lg navbar-light;">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li> prova </li>
            <!-- 
            {% url 'field_crud' as field_crud_url %}
            <li class="nav-item {% if request.path == field_crud_url %} active{% endif %}">
                <a class="nav-link" href="{{ field_crud_url }}">Gestió de Camps</a>
            </li>

            {% url 'section_crud' as section_crud_url %}
            <li class="nav-item {% if request.path == section_crud_url %} active{% endif %}">
                <a class="nav-link" href="{{ section_crud_url }}">Gestió de Seccions</a>
            </li>

            {% url 'school_crud' as school_crud_url %}
            <li class="nav-item {% if request.path == school_crud_url %} active{% endif %}">
                <a class="nav-link" href="{{ school_crud_url }}">Gestió d'Escoles</a>
            </li>

            {% url 'degree_crud' as degree_crud_url %}
            <li class="nav-item {% if request.path == degree_crud_url %} active{% endif %}">
                <a class="nav-link" href="{{ degree_crud_url }}">Gestió de Graus</a>
            </li>

            {% url 'courses_crud' as courses_crud_url %}
            <li class="nav-item {% if request.path == courses_crud_url %} active{% endif %}">
                <a class="nav-link" href="{{ courses_crud_url }}">Gestió de Cursos</a>
            </li>

            {% url 'type_professor_crud' as type_professor_crud_url %}
            <li class="nav-item {% if request.path == type_professor_crud_url %} active{% endif %}">
                <a class="nav-link" href="{{ type_professor_crud_url }}">Gestió Tipus de Professor</a>
            </li>

            {% url 'lenguage_crud' as lenguage_crud_url %}
            <li class="nav-item {% if request.path == lenguage_crud_url %} active{% endif %}">
                <a class="nav-link" href="{{ lenguage_crud_url }}">Gestió de Llenguatges</a>
            </li>

            {% url 'year_crud' as year_crud_url %}
            <li class="nav-item {% if request.path == year_crud_url %} active{% endif %}">
                <a class="nav-link" href="{{ year_crud_url }}">Gestió d'Anys</a>
            </li>
            -->
        </ul>
    </div>
</nav>
