<!-- YEAR LENGUAGE Info Navbar -->
<nav class="navbar-sub-nav navbar-expand-lg navbar-light;">
    <div class="container-fluid">
        <ul class="navbar-nav">
            {% url 'lenguage_crud' as lenguage_crud_url %}
            <li class="nav-item {% if request.path == lenguage_crud_url %} active{% endif %}">
                <a class="nav-link" href="{{ lenguage_crud_url }}">Gestió de Llenguatges</a>
            </li>

            {% url 'year_crud' as year_crud_url %}
            <li class="nav-item {% if request.path == year_crud_url %} active{% endif %}">
                <a class="nav-link" href="{{ year_crud_url }}">Gestió d'Anys</a>
            </li>
        </ul>
    </div>
</nav>
