<!-- Academic Info Navbar -->
<nav class="navbar-sub-nav navbar-expand-lg navbar-light;">
    <ul class="navbar-nav">
        {% url 'usersapp:professor_crud' as professor_crud_url %}
        <li class="nav-item {% if request.path == professor_crud_url %} active{% endif %}">
            <a class="nav-link" href="{{professor_crud_url}}">Gestió del Professorat</a>
        </li>
        
        {% url 'usersapp:extrainfo_professor_crud' as extrainfo_professor_crud_url %}
        <li class="nav-item {% if request.path == extrainfo_professor_crud_url %} active{% endif %}">
            <a class="nav-link" href="{{extrainfo_professor_crud_url}}">Gestió Informació Extra del Professorat</a>
        </li>

        {% url 'usersapp:register_chief' as register_chief_url %}
        <li class="nav-item {% if request.path == register_chief_url %} active{% endif %}">
            <a class="nav-link" href="{{register_chief_url}}">Gestió de Caps de Secció</a>
        </li>

        {% url 'field_list' as field_list_url %}
        <li class="nav-item {% if request.path == field_list_url %} active{% endif %}">
            <a class="nav-link" href="{{ field_list_url }}">Gestió de Camps</a>
        </li>

        {% url 'section_list' as section_List_url %}
        <li class="nav-item {% if request.path == section_List_url %} active{% endif %}">
            <a class="nav-link" href="{{ section_List_url }}">Gestió de Seccions</a>
        </li>

        {% url 'school_list' as school_list_url %}
        <li class="nav-item {% if request.path == school_list_url %} active{% endif %}">
            <a class="nav-link" href="{{ school_list_url }}">Gestió d'Escoles</a>
        </li>

        {% url 'degree_list' as degree_list_url %}
        <li class="nav-item {% if request.path == degree_list_url %} active{% endif %}">
            <a class="nav-link" href="{{ degree_list_url }}">Gestió de Titulacions</a>
        </li>

        {% url 'course_list' as course_list_url %}
        <li class="nav-item {% if request.path == course_list_url %} active{% endif %}">
            <a class="nav-link" href="{{ course_list_url }}">Gestió de Cursos</a>
        </li>

        {% url 'typeprofessor_list' as typeprofessor_list_url %}
        <li class="nav-item {% if request.path == typeprofessor_list_url %} active{% endif %}">
            <a class="nav-link" href="{{ typeprofessor_list_url }}">Gestió Tipus de Professorat</a>
        </li>
        {% url 'language_list' as language_list_url %}
        <li class="nav-item {% if request.path == language_list_url %} active{% endif %}">
            <a class="nav-link" href="{{ language_list_url }}">Gestió de Llenguatges</a>
        </li>

        {% url 'year_list' as year_list_url %}
        <li class="nav-item {% if request.path == year_list_url %} active{% endif %}">
            <a class="nav-link" href="{{ year_list_url }}">Gestió d'Anys</a>
        </li>
    </ul>
</nav>
