<!-- NAVBAR FOR A DIRECTOR -->
<ul class="navbar-nav me-auto">
    <li class="nav-item {% if request.path|slice:":16" == '/director/dashboard/' %}active{% endif %}">
        <a class="nav-link" href="{% url 'directorapp:director_dashboard' %}">Tauler Director</a>
    </li>

    <!-- Gestió de Professorat SUBNavbar -->
    <li class="nav-item">
        <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#professorsNavbar" aria-expanded="false" aria-controls="professorsNavbar" onclick="toggleNavbar(event, 'professorsNavbar', ['academicNavbar','yearlenguageNavbar'])">
            Gestió de Professorat
        </a>
    </li>
    
    <!-- Gestió Acadèmica SUBNavbar -->
    <li class="nav-item">
        <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#academicNavbar" aria-expanded="false" aria-controls="academicNavbar" onclick="toggleNavbar(event, 'academicNavbar', ['professorsNavbar','yearlenguageNavbar'])">
            Gestió Acadèmica
        </a>
    </li>

    <!-- Gestió d'Anys i Llengües SUBNavbar -->
    <li class="nav-item">
        <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#yearlenguageNavbar" aria-expanded="false" aria-controls="yearlenguageNavbar" onclick="toggleNavbar(event, 'yearlenguageNavbar', ['professorsNavbar','academicNavbar'])">
           Gestió d'Anys i Llengües
        </a>
    </li>
</ul>

{% comment %}
 <!-- Include the Gestió de Professorat Navbar Below the General Navbar -->
<div class="collapse {% if '/users/' in request.path %}show{% endif %}" id="professorsNavbar">
    {% include 'navbars/navbar-management-professors.html' %}
</div>

<!-- Include the Gestió d'Anys i Llengües Navbar -->
<div class="collapse {% if '/academicinfo/year' in request.path or '/academicinfo/lenguages' in request.path %}show{% endif %}" id="yearlenguageNavbar">
    {% if user.role == 'director' %}
        {% include 'navbars/navbar-yearlenguage.html' %}
    {% endif %}
</div>

<!-- Include the Gestió Acadèmica Navbar -->
<div class="collapse {% if '/academicinfo/' in request.path or '/field/' in request.path or '/section/' in request.path or '/school/' in request.path or '/degree/' in request.path or '/courses/' in request.path or '/type_professor/' in request.path %}show{% endif %}" id="academicNavbar">
    {% if user.role == 'director' %}
        {% include 'navbars/navbar-academic-info.html' %}
    {% endif %}
</div> 
{% endcomment %}

<!-- JavaScript for Toggle Functionality -->
<script>
    function toggleNavbar(event, targetNavbar, otherNavbars) {
        const targetElement = document.getElementById(targetNavbar);

        // Prevent default action if the clicked navbar is already active
        if (targetElement.classList.contains('show')) {
            event.preventDefault();
            return;
        }

        // Collapse the other navbars
        otherNavbars.forEach(navbar => {
            const otherElement = document.getElementById(navbar);
            if (otherElement.classList.contains('show')) {
                otherElement.classList.remove('show');
            }
        });

        // Toggle the target navbar
        targetElement.classList.toggle('show');
    }
</script>