{% extends 'base-template/base.html' %}

{% block title %} Assignatures - {{ section.NameSection }}{% endblock %}

{% block content %}
<div class="container-fluid d-flex" style="min-height: 100vh;">
    <div class="col-lg-12 mx-auto">
        <h2 style="text-align:center"> Assignatures de: {{ section.NameSection }} - Curs: {{global_selected_year}} </h2>

        <!-- Display success, warning, or error messages -->
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="{% if message.tags %}alert alert-{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <hr>

        <div class="row">
            <div class="col-lg-11 mx-auto" >
              
                <!-- Filter Fields -->
                <h3>Filtres per Cursos</h3>
                <div class="d-flex justify-content-between row mb-2">
                    <!-- Filters section -->
                    <div class="filters d-flex flex-wrap">
                        <div class="col-md-12">
                            <label for="filter-all">Filtrar per contingut:</label>
                            <input type="text" id="filter-all" class="form-control" placeholder="Cerca per Titulació, Nom Curs o Semestre">
                        </div>
                    </div>
                </div>

                <!-- List of all courses -->
                {% if global_selected_year %}
                    <h5 style="text-align:center; color:blue">
                        Assignació dels Cursos en el curs 
                        {{ global_selected_year }} 

                        {% if global_selected_year != global_available_years.first %}
                            (Historial)
                        {% endif %}
                    </h5>
                {% endif %}

                <h3>Llistat dels Cursos:</h3>

                <table class="table table-striped" id="coursesassign-table">
                    <thead>
                        <tr>
                            <th style="">Titulació</th>
                            <th style="">Nom Curs</th>
                            <th style="width:7%">Semestre</th>
                            {% for typepoint_name in typepoint_names %}
                                <th style="width:8%">{{ typepoint_name }}</th>         
                            {% endfor %}
                            <th style="">Punts Assignats</th>
                            <th class="actions-c" style="width:180px">Accions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if course_data %}
                            {% for selected_course in course_data %}
                            <tr data-name="{{ course_year.Course.NameCourse }}"
                                    data-year="{{ course_year.Year.Year }}" 
                                    data-semester="{{course_year.Semester}}"
                                    data-language="{{ course_year.Language}}"
                                    data-totalpoints="{{ course_year.TotalPoints }}"
                                    >
                                    <td>{{ selected_course.degree }}</td>
                                    <td>{{ selected_course.course }}</td>
                                    <td>{{ selected_course.semester }}</td>
                                    {% for point_name, point_value in selected_course.points %}
                                        <td>
                                            {% if point_value is none %}
                                                -
                                            {% else %}
                                                {{ point_value }}
                                            {% endif %}
                                        </td>                                    
                                    {% endfor %}     
                                    
                                    <td class="actions-c" style="width:180px">
                                        <!-- Edit button -->
                                        <a href="#" class="button-edit btn-sm">Assignar</a>

                                        <!--Duplicate Button-->
                                        <a href="#" class="button-secondary btn-sm">Duplicar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="11" class="text-center">Cap Curs en cap Titulació a la Secció d'aquest Cap de Secció.</td>
                            </tr>        
                        {% endif %} 
                    </tbody>
                </table>
                
                <!-- No results message -->
                <div id="no-results-message" class="text-center text-danger" style="display:none;">
                    <span id="no-results-text"></span>
                </div>
            </div>
            
        </div>
    </div>
</div>

<!-- JavaScript function for confirmation -->
<script>

    function confirmDelete(CourseNameYear) {
        return confirm("Estàs segur que vols eliminar aquesta puntuació del Curs: " + CourseNameYear + "?");
    }

    //Not using  accents in the filter and in the data
    function normalizeString(str) {
        return str.normalize("NFD").replace(/[\u0300-\u036f]/g, "").toLowerCase();
    }

    // JavaScript for dynamic filtering
    document.getElementById('filter-all').addEventListener('input', filterTable);

    function filterTable() {
        const searchValue = normalizeString(document.getElementById('filter-all').value);
        const tableRows = document.querySelectorAll('#coursesyear-table tbody tr');

        let rowsVisible = 0;

        tableRows.forEach(row => {
            const fieldName = row.getAttribute('data-name') ? normalizeString(row.getAttribute('data-name')) : '';
            const fieldYear = row.getAttribute('data-year') ? normalizeString(row.getAttribute('data-year')) : '';
            const fieldSemester = row.getAttribute('data-semester') ? normalizeString(row.getAttribute('data-semester')) : '';
            const fieldLanguage = row.getAttribute('data-language') ? normalizeString(row.getAttribute('data-language')) : '';
            const fieldTpoints = row.getAttribute('data-totalpoints') ? normalizeString(row.getAttribute('data-totalpoints')) : '';

            const matchesSearch = fieldName.includes(searchValue) || fieldYear.includes(searchValue) || fieldSemester.includes(searchValue) || fieldLanguage.includes(searchValue) || fieldTpoints.includes(searchValue) 
            if (matchesSearch) {
                row.style.display = '';
                rowsVisible++;
            } else {
                row.style.display = 'none';
            }
        });

        const noResultsMessage = document.getElementById('no-results-message');
        const noResultsText = document.getElementById('no-results-text');

        // No results message logic
        if (rowsVisible === 0) {
            let message = "Cap Curs amb Puntuació amb els criteris de cerca";
            if (searchValue) {
                message += ` amb el terme "${searchValue}"`;
            }
            noResultsText.textContent = message + ".";
            noResultsMessage.style.display = 'block';
        } else {
            noResultsMessage.style.display = 'none';
        }
    }
</script>

{% endblock %}
