<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SASDOC 2.0{% endblock %}</title>
    {% load static %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Inici</a></li>
                <li><a href="#">Assignacions</a></li>
                <li><a href="#">Professors</a></li>
                <li><a href="#">Cursos</a></li>
                <li><a href="#">Contacte</a></li>
            </ul>
            {% if user.is_authenticated %} 
            Hi {{user.username}} 
            &nbsp;&nbsp; 
            <a href="{% url 'logout' %}" class="btn-link"> Close session </a>
          {% else %}
            <a href="{% url 'login' %}" class="btn-link"> Login </a>
          {% endif %}
        </nav>
    </header>


    <main>
        {% block content %}
        <!-- Default content goes here -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024-25 SASDOC 2.0. Tots els drets reservats.</p>
    </footer>

</body>
</html>
