<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">SASDOC 2.0</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                {% if user.is_authenticated %}
                    <!-- NAVBAR of Director Role -->
                    {% if user.role == 'director' %}
                        {% include 'navbars/navbar-director.html' %} 

                    <!-- Sector Chief Role -->
                    {% elif user.role == 'sector_chief' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'usersapp:sector_chief_dashboard' %}">Tauler Cap de Sector</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  href="#">Funció Cap de Sector</a>
                        </li>

                    <!-- Professor Role -->
                    {% elif user.role == 'professor' %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tauler Professor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Funció per Professor</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>

            <!-- User Info / Logout -->
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item d-flex align-items-center">
                        <span class="navbar-text">Hola,<strong> {{ user.username }} </strong></span> &nbsp;&nbsp;
                        <a class="nav-link" href="{% url 'usersapp:logout' %}">Sortir</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'usersapp:login' %}">Iniciar Sessió</a>
                    </li>

                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- Subnavbar DIRECTOR  Below the Main Navbar -->
<div class="container-fluid mt-3">
    {% if user.is_authenticated and user.role == 'director' %}
    <!-- Subnavbar: Professors Management -->
    <div class="collapse {% if '/users/' in request.path %}show{% endif %}" id="professorsNavbar">
        {% include 'navbars/navbar-management-professors.html' %}
    </div>

    <!-- Subnavbar: Year and Languages Management -->
    <div class="collapse {% if '/academicinfo/year' in request.path or '/academicinfo/lenguages' in request.path %}show{% endif %}" id="yearlenguageNavbar">
        {% include 'navbars/navbar-yearlenguage.html' %}
    </div>

    <!-- Subnavbar: Academic Management -->
    <div class="collapse {% if '/academicinfo/fields/' in request.path or '/academicinfo/sections/' in request.path or '/academicinfo/schools/' in request.path or '/academicinfo/degrees/' in request.path or '/academicinfo/courses/' in request.path or '/academicinfo/typeprofessor/' in request.path %}show{% endif %}" id="academicNavbar">
        {% include 'navbars/navbar-academic-info.html' %}
    </div>
{% endif %}
</div>