<!-- Academic Info Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'field_crud' %}">Gestió de Camps</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'section_crud' %}">Gestió de Seccions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'school_crud' %}">Gestió d'Escoles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'degree_crud' %}">Gestió de Graus</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'course_crud' %}">Course Management</a>
            </li>
        </ul>
    </div>
</nav>
