<!-- Academic Info Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'field_crud' %}">Field Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'section_crud' %}">Section Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'school_crud' %}">School Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'degree_crud' %}">Degree Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'course_crud' %}">Course Management</a>
            </li>
        </ul>
    </div>
</nav>
