{% extends 'base-template/base.html' %}

{% block title %}Registrar Caps Secció{% endblock %}

{% block content %}
<div class="container-fluid d-flex" style="min-height: 100vh;">
    <div class="col-lg-10 mx-auto">
        <h2 style="text-align:center">Registrar Caps de Secció</h2>

        {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        {% endif %}
        <hr>

        <div class="row">
            <div class="col-lg-10"> 
                <!-- Filter Fields -->
                <h3>Filtres pel Llistat del Professorat</h3>
                <div class="d-flex justify-content-between row mb-2">
                    <!-- Filters section -->
                    <div class="filters d-flex flex-wrap">
                        <div class="col-md-6">
                            <label for="filter-name">Filtrar per Nom: </label>
                            <input type="text" id="filter-name" class="form-control" placeholder="Cerca per Nom">
                        </div>

                        <div class="col-md-6">
                            <label for="filter-family-name">Filtrar per Cognom: </label>
                            <input type="text" id="filter-family-name" class="form-control" placeholder="Cerca per Cognom">
                        </div>

                        <div class="col-md-4">
                            <label for="filter-active">Filtrar per si és Professorat actiu:</label>
                            <select id="filter-active" class="form-control">
                                <option value="">Tots</option>
                                <option value="yes">Actiu</option>
                                <option value="no">No Actiu</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label for="filter-chief">Filtrar per si és Professorat es Cap de Secció:</label>
                            <select id="filter-chief" class="form-control">
                                <option value="">Tots</option>
                                <option value="yes">Ja Caps de secció</option>
                                <option value="no">No cap de Secció</option>
                            </select>
                        </div>
                    </div>
                </div>

                <hr>

                <!-- List of all professors -->
                <h3>Llista del Professorat</h3>                 

    <!-- Professors Table -->
    <table class="table table-striped" id="professors-table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Cognom</th>
                <th>Email</th>
                <th>Comentari</th>
                <th>Actiu</th>
                <th>Seleccionar</th>
            </tr>
        </thead>
        <tbody>
            {% if professors %}
                {% for professor in professors %}
                <tr>
                    <td>{{ professor.name }}</td>
                    <td>{{ professor.family_name }}</td>
                    <td>{{ professor.email }}</td>
                    <td>{{ professor.comment }}</td>
                    <td class="active-status">{% if professor.isActive == 'yes' %}
                            Sí
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    <td>     
                    <!--See if PROFESSOR is already a SECTOR CHIEF-->          
                        {% if professor.user.role == 'sector_chief' %} 
                            {% with chief=professor.chief_set.first %}
                                <span class="already-chief" style="color:Tomato">Cap de Secció: {{ chief.section }}</span>
                            {% endwith %}                    
                        {% else %}
                            <!--if not already a SECTOR CHIEF PROFESSOR can be SELECTED-->
                            <input type="radio" name="professor" value="{{ professor.idProfessor }}" required>
                        {% endif %}
                    </td>      
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">Cap professor en la taula.</td>
                </tr>        
            {% endif %}
        </tbody>
    </table>

    <br>
    <div class="form-group">
        <label for="id_year">Any</label>
        {{ form.year}}
        {% if form.year.errors %}
        <div class="text-danger">
            {{ form.year.errors|join:", " }}
        </div>
    {% endif %}
    </div>

    <br>
    <div class="form-group">
        <label for="id_section">Secció</label>
        {{ form.section}}
        {% if form.section.errors %}
        <div class="text-danger">
            {{ form.section.errors|join:", " }}
        </div>
    {% endif %}
    </div>
   
    <br>
    <button type="submit" class="button-create btn-sm">Registrar</button>
</form>

<!-- No results message -->
<div id="no-results-message" class="text-center text-danger" style="display:none;">
    <span id="no-results-text"></span>
</div>

<!-- JavaScript for Filtering -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const filterName = document.getElementById('filter-name');
        const filterFamilyName = document.getElementById('filter-family-name');
        const filterActive = document.getElementById('filter-active');
        const filterChief = document.getElementById('filter-chief');

        const tableRows = document.querySelectorAll('#professors-table tbody tr');

        function filterTable() {
            const nameValue = filterName.value.toLowerCase();
            const familyNameValue = filterFamilyName.value.toLowerCase();
            const activeValue = filterActive.value;
            const chiefValue=filterChief.value;

            let rowsVisible = 0;


            tableRows.forEach(row => {
                const nameText = row.cells[0].textContent.toLowerCase();
                const familyNameText = row.cells[1].textContent.toLowerCase();
                const isActiveText = row.querySelector('.active-status').textContent.trim(); // Get Si/No using the Class
                const isActive = isActiveText === 'Sí' ? 'yes' : 'no';
             
                const isChiefBoolean = row.querySelector('.already-chief') ? 'yes' : 'no'; //YES if are Chiefs NO if not

                const matchesName = nameText.includes(nameValue);
                const matchesFamilyName = familyNameText.includes(familyNameValue);
                const matchesActive = (activeValue === '' || isActive === activeValue); 
                const matchesChief = (chiefValue === '' || isChiefBoolean === chiefValue);

                if (matchesName && matchesFamilyName && matchesActive && matchesChief) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });

            const noResultsMessage = document.getElementById('no-results-message');
            const noResultsText = document.getElementById('no-results-text');

           // No results message logic
            if (rowsVisible === 0) {
                let message = "Cap professor amb els criteris de cerca";
                if (nameValue) {
                    message += ` amb el nom "${nameValue}"`;
                }
                if (familyNameValue) {
                    message += ` amb el cognom "${familyNameValue}"`;
                }
                if (activeValue) {
                    message += ` actiu "${activeValue === 'yes' ? 'Sí' : 'No'}"`;
                }
                if (chiefValue) {
                    message += ` cap de secció "${chiefValue === 'yes' ? 'Sí' : 'No'}"`;
                }
                noResultsText.textContent = message + ".";
                noResultsMessage.style.display = 'block';
            } else {
                noResultsMessage.style.display = 'none';
            }
        }

        filterName.addEventListener('input', filterTable);
        filterFamilyName.addEventListener('input', filterTable);
        filterActive.addEventListener('change', filterTable);
        filterChief.addEventListener('change', filterTable);

    });
</script>

{% endblock %}
