{% extends 'base-template/base.html' %}

{% block title %}Registrar Professors Fitxer{% endblock %}

{% block content %}
<h2>Registar Professors per Fitxer</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.file.id_for_label }}">{{ form.file.label }}</label>
        <br>
        {{ form.file }}
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Pujar Fitxer</button>
    <br>
</div>

{% if messages %}
<div class="messages">
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}

</form>

{% endblock %}
