{% extends 'base-template/base.html' %}

{% block title %}
    Capacitats de la Secció: {{ section.NameSection }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="col-lg-12 mx-auto">
        <h2 class="text-center">Gestió de Capacitats de la Secció: {{ section.LetterSection }}: {{ section.NameSection }}</h2>
        <hr>

        <!-- Table of TypePoints -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Any</th>
                    <th>Punts A</th>
                    <th>Punts B</th>
                    <th>Punts C</th>
                    <th>Punts D</th>
                    <th>Punts E</th>
                </tr>
            </thead>
            <tbody>
                {% for typepoint in typepoints_entries %}
                    <tr>
                        <td>{{ typepoint.idTypePoints }}</td>
                        <td>{{ typepoint.Year.Year }}</td>  <!-- assuming you want the Year value -->
                        <td>{{ typepoint.NamePointsA }}</td>
                        <td>{{ typepoint.NamePointsB }}</td>
                        <td>{{ typepoint.NamePointsC }}</td>
                        <td>{{ typepoint.NamePointsD }}</td>
                        <td>{{ typepoint.NamePointsE }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="7" class="text-center">No hi ha dades disponibles per a aquesta secció.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
